/* eb-garamond-regular - latin */
@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('#{$asset_url}/fonts/hack_regular_nerd_font_complete-webfont.woff'); /* IE9 Compat Modes */
  src: local('Hack'), local('Hack'),
       url('#{$asset_url}/fonts/hack_regular_nerd_font_complete-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$asset_url}/fonts/hack_regular_nerd_font_complete-webfont.woff') format('woff') /* Modern Browsers */
}