$brand-color:         #efecd5;
$highlight:           lighten($brand-color, 35%);
$text-color:          #4e16a1;
$muted-text-color:    #4e16a1;
$font-family:         "Hack", monospace;
$font-familyv2:       "Dwight", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;


