$brand-color:         #b2343d;
$highlight:           lighten($brand-color, 35%);
$text-color:          #f0fae8;
$muted-text-color:    #f0fae8;
$font-family:         "Hack", monospace;
$font-familyv2:       "Dwight", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;